div(ng-if='slide.image_url' ng-class="{'image_left': slide.image_align=='Left', 'image_right':slide.image_align=='Right', 'image_top':slide.image_align=='Top'}")
	image#image( src='{{slide.image_url}}' height='100%' width='100%')
	.overlay: i.material-icons.medium(ng-click='deleteImage()') delete