#settings.modal
	.modal-content
		.section
			label Survey Name
			input(ng-model='survey.name')
			label Tags
			.chips
				
	.modal-footer
		a.btn-flat.modal-action.modal-close.waves-green Done