.row.grey.lighten-3(style='padding: 10px 0px 10px 0px;margin: 0px')
	.container
		img.left(src='./img/hca_logo.png', height='30' style='margin-top: 10px')
		img.right(src='./img/logo_light.svg', height='50')